$primary-font: "Circular", "Nanum Gothic", sans-serif;
//$display-font: 'Raleway', sans-serif;
$font-regular: 400;
$font-bold: 600;
$font-extra-bold: 700;

// Colores
$palette: (
    ultra-ligth-grey: #f4f3ef,
    ligth-grey: #f4f3ef,
    medium-grey: #c9c9bd,
    brand-grey: #a8a897,
    dark-grey: #1F232A,
    brand-primary-color: #3f4a3c,
    brand-second-color: #69b973,
    brand-third-color: #d9d62b,
    brand-green: #a8a897
);
$ligth-grey: map-get($palette,ligth-grey);
$ultra-ligth-grey: map-get($palette,ultra-ligth-grey);
$medium-grey: map-get($palette,medium-grey);
$brand-grey: map-get($palette,brand-grey);
$dark-grey: map-get($palette,dark-grey);
$brand-primary-color: map-get($palette,brand-primary-color);
$brand-second-color: map-get($palette,brand-second-color);
$brand-third-color: map-get($palette,brand-third-color);
$brand-green: map-get($palette,brand-green);
$white:white;

//Gradientes
$gradient-yellow-green: linear-gradient(to right, $brand-second-color, $brand-green);
// $gradient-red-yellow: linear-gradient(to right, $brand-primary-color, $brand-second-color);